@model List<CypherMVC.Models.Task>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Tasks<br />
            <small>Listed below are tasks your team should take care of.</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Description</td>
                        <td>@task.DueDate</td>
                        <td>@Html.ActionLink("Edit","CreateEdit","Task",new { Id = task.Id },new {@class= "btn btn-primary"})</td>
                    </tr>
                }               
            </tbody>
        </table>
    </div>
</div>