<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Tasks<br />
            <small>Listed below are tasks your team should take care of.</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Follow up with marketing about materials</td>
                    <td>A vendor has not received shipments for an order they placed through the online form.</td>
                    <td>1/24/2016 11:01:39 AM</td>
                    <td><a class="btn btn-primary" href="/Task/CreateEditTask/1">Edit</a></td>
                </tr>
                <tr>
                    <td>Vendor issues</td>
                    <td>A vendor has not received their order, please address this and check that the order was placed.</td>
                    <td>1/24/2016 11:01:39 AM</td>
                    <td><a class="btn btn-primary" href="/Task/CreateEditTask/2">Edit</a></td>
                </tr>
                <tr>
                    <td>Poor customer relations</td>
                    <td>Multiple customer complaints have come through about our phone service - please contact customer relations to verify that procedures are being followed.</td>
                    <td>1/24/2016 11:01:39 AM</td>
                    <td><a class="btn btn-primary" href="/Task/CreateEditTask/3">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>